
body {
	font-size: 16px;
	font-family: 'Nixie One', cursive;
	line-height: 2em;
}

header {
	background-image: url(../img/coffee-ring.png);
	background-repeat: no-repeat;
	background-position: top right;
	height: 200px;
	padding-top: 3em;
}

a {
	color: #900;
}

@media (max-width: 768px) {

	.post-meta-data { 
		border-left: none;
		padding: 0;
	}

	.post-meta-data p {
		display: inline;
		padding: 0 1em;
		border-left: solid 5px #f6f6f6;
	}
}

.post-meta-data {
	border-left: solid 5px #f6f6f6;

	padding: 2em;
}

.post-meta-data p {
	margin: 0;
}

nav ul {
	padding-left: 0;
}

nav ul li {
	padding-right: 1em;
}

nav ul, nav ul li {
	display: inline;
}

footer {
	background-color: #222;
	color: #fff;
	margin-top: 4em;
	padding-bottom: 6em;
	text-align: right;

}